@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.sideBar {
  position: fixed;
  z-index: 10;
  width: 25rem;
  top: 0;
  height: 100vh;
  transition: 0.3s;
  box-shadow: 0px 0px 1.5px $primaryGray, 0px 0px 2px $primaryGray;
  text-transform: capitalize;
  .sideBar-menu {
    .sideItem {
      cursor: pointer;
      &:hover {
        color: #927af4ff;
      }
    }
    .selected {
      color: #927af4ff;
    }
    padding: 0.5rem 0;
  }
}
