/* Container 1 */
.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 256px;
  height: 900px;
  background: #ffffffff;
  border-radius: 0px;
  border-width: 1px;
  border-color: #dee1e6ff;
  border-style: solid;
  box-shadow: 0px 0px 1.5px #171a1f, 0px 0px 2px #171a1f;
}
/* Sidebar menu 1 */
.sidebar-menu {
  position: absolute;
  top: 99px;
  left: 2px;
  width: 256px;
  height: 508px;
  display: flex;
  flex-direction: column;
  font-family: Mulish;
  font-size: 14px;
  line-height: 22px;
  opacity: 1;
  gap: 12px;
}

/* Sidebar menu 1 - Item */
.sidebar-menu .sidebar-menu-item {
  padding: 16px NaNpx;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #565d6dff;
  background: #000000ff;
  border-radius: 0px;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
}
/* Sidebar menu 1 - Item indent */
.sidebar-menu .sidebar-menu-item.indent {
  padding-left: 31px;
}
/* Sidebar menu 1 - Selected item */
.sidebar-menu .sidebar-menu-item.selected {
  position: relative;
  font-weight: bold;
  color: #927af4ff;
  background: #000000ff;
}
/* Sidebar menu 1 - Selected item */
.sidebar-menu .sidebar-menu-item.selected:hover:active {
  color: #927af4ff;
  background: #000000ff;
}
/* Sidebar menu 1 - Icon */
.sidebar-menu svg.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
