.order {
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  h2 {
    text-transform: uppercase;
  }
  table {
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
}
