// colors
$primary: #927af4ff;
$secondary: #77d0e8;
$primaryGray: #565d6dff;
$primaryBlack: #171a1fff;
// Typography Start
// Font sizes
$GlobalFont: 62.5%;
$HeadFont: 1.8rem;
$MediumFont: 1.4rem;
$smallFont: 1.2rem;

// Line Heights
$HeadLineSpacing: 2.8rem;
$MediumLineSpacing: 2.2rem;
$smallLineSpacing: 1.5rem;

//Typography End

//shadow
$globalShadow: 0px 0px 1.5px $primaryGray;

$globalRadius: 22.5px;
