// colors
$primary: #927af4ff;
$primaryGray: #dee1e6ff;
$LightGray: #e9e9e9;

// Typography Start
// Font sizes
$GlobalFont: 62.5%;
$HeadFont: 4rem;
$MediumFont: 3rem;
$smallFont: 2rem;

// Line Heights
$HeadLineSpacing: 5rem;
$MediumLineSpacing: 3.5rem;
$InfoLineSpacing: 3rem;

//Typography End

//shadow
$globalShadow: 2px 3px 12px $LightGray;

$globalRadius: 22.5px;
