@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";
.arabicContainer {
  direction: rtl;
  .sideBar {
    .sideBar-title {
      h1 {
        margin-right: 1rem;
      }
    }
    .sideBar-menu {
      .sideItem {
        i {
          margin-left: 1rem;
          margin-right: 0;
        }
      }
    }
  }
  .mainContainer,
  .navbar {
    margin-right: 25.1rem;
    margin-left: 0;
    .dropdown-menu {
      li {
        text-align: right;
      }
    }
    .menu {
      position: absolute;
      left: 4.5rem;
      text-align: right;
      right: 70vw;
    }
    .notificationDropdown {
      right: -14rem;
    }
  }
  .invalid {
    text-align: right;
  }
  .login-container {
    .overlay {
      left: 0;
    }
    figure {
      left: calc(100vw - 140px);
    }
  }
  .permissionsWrapper {
    text-align: right;
  }
  .table-wrapper {
    label {
      margin-left: 1rem;
    }
  }
  .search-box {
    input {
      text-align: left;
    }
  }
}
