@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";

.headline {
  text-transform: capitalize;
  font-size: $HeadFont;
  line-height: $HeadLineSpacing;
  font-weight: 900;
}

.overview {
  @include grid(3rem, 14vw, 15rem);
  @include mQ(1248px) {
    @include grid(2rem, 20vw, 15rem);
  }
  @include mQ(1022px) {
    @include grid(2rem, 30vw, 15rem);
  }
  @include mQ(450px) {
    @include grid(1rem, 50vw, 15rem);
  }
  .blue-overview {
    background-color: #77d0e849;
  }
  .purple-overview {
    background-color: rgba(146, 122, 244, 0.089);
  }
  article {
    border-radius: 10px;
    padding: 2rem 1.5rem;
    h3 {
      text-transform: capitalize;
      i {
        margin-right: 1rem;
      }
    }
    h2 {
      margin-top: 3rem;
    }
  }
}
